<!-- Author: Younghyun Cho <younghyun@berkeley.edu> -->

<!doctype html>

{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<script>
  $(document).ready(function () {
    $('#nav-item-about').addClass('active');
  });
</script>

<div class="container">
  <br><br>
  <h1>GPTune</h1>
  <br>
  <p class="lead">
  <a href="https://github.com/gptune/GPTune">GPTune</a> is an autotuning framework that relies on multitask and transfer learning to help solve the underlying black-box optimization problem using Bayesian optimization methodologies.
  In particular, GPTune is designed to tune high-performance application codes as "black-boxes", running them for carefully chosen tuning parameter values and building a performance model based on the measured performance.
  GPTune provides several unique autotuning features outlined as follows.

  <ul style="font-size:20px">
      <li><b>High-performance and parallel tuning:</b> GPTune can tune applications that are specifically designed for the high-performance clusters and exascale computational applications, and is a unique distributed-memory parallel autotuner.</li>
      <li><b>Multitask and transfer learning:</b> GPTune adopts transfer learning through classical single-output and multiple-output Gaussian process surrogate models, along with novel surrogate models, and incorporates various performance models. It also supports multiple-objective tuning over certain applications.   </li>
      <li><b>Single and multi-objective tuning:</b> GPTune also supports single and multi-objective tuning with several different methodologies. For multi-objective tuning, users can set output constraints.</li>
      <li><b>Unified Python interface:</b> GPTune leverages a unified Python interface to support different tuners across different applications from high-performance mathematical libraries to production-level scientific simulations.</li>
      <li><b>History database:</b> GPTune supports an autotuning database called a history database which allows users to save and re-use performance data to reduce the cost of the expensive black-box objective function.</li>
  </ul>
  </p>

  <br><br>
  <h1>History Database</h1>
  <br>
  <p class="lead">
  The success of autotuning usually depends on collecting sufficient performance data samples to build an accurate surrogate performance model or to explore the search space.
  To enhance reusabiltiy of performance data for autotuning, we provide a history database which is a shared repository and API to share autotuning performance data between multiple users at different sites.
  Our shared repository in this website provides two useful interfaces (1) <a href="{% url 'repo:dashboard' %}">an interactive web dashboard</a> that allows users to navigate the database from a web browser (2) <a href="https://gptune.lbl.gov/docs/src/historydb_repository.html#programmable-api">a programmable API</a> which allows users to write a program query to download or upload performance data.
  This website provides <a href="https://gptune.lbl.gov/docs/index.html">an online user guide</a> to learn how to use the database.
  Our history database enables following use cases.
  <ul style="font-size:20px">
      <li><b>Checkpointing and restarting:</b> Users can perform checkpointing and restarting of (long-running) autotuning.</li>
      <li><b>Query tuning results:</b> Users can query the best tuning parameter configuration to run their applications.</li>
      <li><b>Transfer learning:</b> Users can download historical performance data and use the trained knowledge to tune a similar but different tuning problem.</li>
      <li><b>Crowd-tuning:</b> Multiple users at different sites can work on tuning the same (expensive) tuning problem.</li>
  </ul>

  </p>
  <p class="lead">

  The history database is a part of the GPTune project.
  Performance data in the history database is compatible with GPTune, and the database interfaces are incorporated into GPTune.
  The database feature can also be used by other autotuners (this is a future work).

  <br><br>
  </p>

  <h1>Join our Community</h1>
  <br>
  <p class="lead">
  Unregistered users can only view publicly available performance data.
  This means that they cannot view data disclosed to authorized users or upload any kind of data into out database.
  </p>
  <p class="lead">
  Please <a href="{% url 'account:signup' %}">Sign Up</a> to access more data in our history database!
  Registered users can download data disclosed to registered users.
  There is another privilege level called "certified" for registered users.
  The GPTune team will update the user status as "certified" if the user has entered user profile information correctly.
  Certified users can access data for certified users and create collaboration groups to share data within your group members.
  For more information about our membership, click <a href="{% url 'main:membership' %}">here</a>.
  <br><br>
  </p>

  <h1>About Us</h1>
  <br>
  <p class="lead">
  GPTune is a joint research project between <a href="https://lbl.gov">Lawrence Berkeley National Laboratory</a> and <a href="https://berkeley.edu">University of California at Berkeley</a>, and is part of the <a href="https://xsdk.info/ecp/">xSDK4ECP</a> effort supported by the Exascale Computing Project (ECP).
  <div class="container">
    <a href="https://www.berkeley.edu/"><img src="{% static 'images/UCBerkeleyLogo.png' %}" width=200></a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://www.lbl.gov/"><img src="{% static 'images/BerkeleyLabLogo.png' %}" width=200></a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://www.nersc.gov/"><img src="{% static 'images/NERSCLogo.jpg' %}" width=200></a>
  </div>
  </p>

  <br><br>
  <h1>Acknowledgements</h1>
  <br>
  <p class="lead">GPTune Copyright (c) 2019, The Regents of the University of California, through Lawrence Berkeley National Laboratory (subject to receipt of any required approvals from the U.S. Dept. of Energy) and the University of California, Berkeley. All rights reserved.
  <br>
  If you have questions about your rights to use or distribute this software, please contact Berkeley Lab's Intellectual Property Office at IPO@lbl.gov.
  <br>
  NOTICE. This Software was developed under funding from the U.S. Department of Energy and the U.S. Government consequently retains certain rights. As such, the U.S. Government has been granted for itself and others acting on its behalf a paid-up, nonexclusive, irrevocable, worldwide license in the Software to reproduce, distribute copies to the public, prepare derivative works, and perform publicly and display publicly, and to permit other to do so.
  </p>
  <br><br>
</div>

{% endblock %}
