<!-- Author: Younghyun Cho <younghyun@berkeley.edu> -->

<!doctype html>

{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<script>
  $(document).ready(function () {
    $('#nav-item-tutorial').addClass('active');
  });
</script>

<div class="container">
  <br><br>

  <h1>GPTune Tutorial Materials - ECP Annual Meeting 2022</h1>
  <p class="lead">
    <ul>
      <h3>
        <li>
          Presentation slides (<a href="https://drive.google.com/file/d/1KU_-0zg4dGTgXsUt_RrbdntYgaTdPFWt/view?usp=sharing">link</a>)
        </li>
        <li>
            Instruction for hands-on exercises
          <ul>
            <li>Preparation of the Docker image (<a href="https://bit.ly/3rRMthH">link</a>)</li>
            <li>Part 1: Basic usage of GPTune (<a href="https://bit.ly/3kbeA7p">link</a>)</li>
            <li>Part 2: Advanced algorithms of GPTune (<a href="https://bit.ly/37JylQH">link</a>)</li>
            <li>Part 3: History database and crowd-tuning (<a href="https://bit.ly/37Jn4zZ">link</a>)</li>
          </ul>
        </li>
        <li>
          Survey (<a href="https://forms.gle/WdjQbcJk3iwC9mzv5">link</a>)
        </li>
        <li>
          GPTune Users' Guide (<a href="{% url 'documentation:gptune-user-guide' %}">link</a>)
        </li>
        <li>
          GPTune GitHub repository (<a href="https://github.com/gptune/GPTune">link</a>)
        </li>
      </h3>
    </ul>
  </p>

</div>

{% endblock %}
