{% extends 'main/base.html' %}  
{% load static %}

{% block content %}

<div class="starter-template">
  <h1>GPTune History Database</h1>
  <br>
  <p class="lead"><a href="https://github.com/gptune/GPTune">GPTune</a> is an autotuning framework that relies on multitask and transfer learnings to help solve the underlying black-box optimization problem. GPTune is part of the <a href="https://xsdk.info/ecp/">xSDK4ECP</a> effort supported by the Exascale Computing Project (ECP).
  <br><br>
  GPTune provides a history database which allows users to save and re-use their performance data (e.g. function evaluation data, trained surrogate models) to relieve the issue of the expensive black-box objective function (i.e. run application and measure the performance on a parallel machine).
  <br><br>
  To harness the power of crowdtuning, the GPTune history database can leverage a shared public database provided by this webpage, where users can store their performance data or download the performance data provided by other users.
  With the shared database, everyone can benefit from (expensive) runs of widely used high-performance computing codes.
  </p>
</div>

<div class="starter-template">
    <h2>Development Team and Facility</h2>
    <br>
    <a href="https://www.berkeley.edu/"><img src="{% static 'images/UCBerkeleyLogo.png' %}" width=200></a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://www.lbl.gov/"><img src="{% static 'images/BerkeleyLabLogo.png' %}" width=200></a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://www.nersc.gov/"><img src="{% static 'images/NERSCLogo.jpg' %}" width=200></a>
</div>

<div class="starter-template">
  <h2>Acknowledgements</h2>
  <br>
  <p class="lead">GPTune Copyright (c) 2019, The Regents of the University of California, through Lawrence Berkeley National Laboratory (subject to receipt of any required approvals from the U.S. Dept. of Energy) and the University of California, Berkeley. All rights reserved.
  <br>
  If you have questions about your rights to use or distribute this software, please contact Berkeley Lab's Intellectual Property Office at IPO@lbl.gov.
  <br>
  NOTICE. This Software was developed under funding from the U.S. Department of Energy and the U.S. Government consequently retains certain rights. As such, the U.S. Government has been granted for itself and others acting on its behalf a paid-up, nonexclusive, irrevocable, worldwide license in the Software to reproduce, distribute copies to the public, prepare derivative works, and perform publicly and display publicly, and to permit other to do so.
  </p>
  <br><br>
</div>

{% endblock %}
