<!-- Author: Younghyun Cho <younghyun@berkeley.edu> -->

<!doctype html>

{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<script>
  $(document).ready(function () {
    $('#nav-item-home').addClass('active');
  });
</script>

<div>
  <hr>
  <div class="container px-4 py-5" style="background-color:#EAEDED">
    <h1>GPTune</h1>
    <p class="lead">GPTune is a performance autotuner designed particularly for HPC applications that are expensive to evaluate. GPTune uses Bayesian optimization based on Gaussian Process regression and supports advanced features such as multi-task learning, transfer learning, multi-fidelity/objective tuning, and parameter sensitivity analysis.</p>
    <p class="lead"><a href="{% url 'main:about'%}#about-gptune"><u>See more information</u></a></p>
    <p class="lead">
      <a class="btn btn-lg btn-primary" href="https://github.com/gptune/GPTune" style="background-color:transparent;color:black;border-color:black;border-width:2px;" role="button">GitHub</a>&nbsp;&nbsp;
      <a class="btn btn-lg btn-primary" href="{% url 'documentation:gptune-user-guide' %}" style="background-color:transparent;color:black;border-color:black;border-width:2px" role="button">User Guide</a>&nbsp;&nbsp;
      <a class="btn btn-lg btn-primary" href="{% url 'main:gptune-tutorial-ecp2023' %}" style="background-color:transparent;color:black;border-color:black;border-width:2px" role="button">Tutorial (2023)</a>&nbsp;&nbsp;
      <a class="btn btn-lg btn-primary" href="https://github.com/gptune/GPTune/issues" style="background-color:transparent;color:black;border-color:black;border-width:2px;" role="button">Issue Report</a>
    </p>
  </div>

  <hr>

  <div class="container px-4 py-5" style="background-color:#EAEDED">
    <h1>History Database</h1>
    <p class="lead">GPTune provides a shared database (history database) that allows users to share performance data samples, so everyone can benefit from (expensive) runs of widely used high-performance computing codes.
    Sign up for free to access more data and use all the available features of the history database.
    <p class="lead"><a href="{% url 'main:about'%}#about-history-database"><u>See more information</u></a></p>
    <p>
      <h6 style="color:red;">Current statistics</h6>
      <ul>
        <li>Number of tuning problems (target applications): {{ stats.num_tuning_problems }}</li>
        <li>Number of registered users: {{ stats.num_users }}</li>
        <li>Number of function evaluations: {{ stats.num_function_evaluations }}</li>
      </ul>
    </p>
    <p class="lead">
      <a class="btn btn-lg btn-primary" href="{% url 'repo:dashboard' %}" style="background-color:transparent;color:black;border-color:black;border-width:2px" role="button">Dashboard</a>&nbsp;&nbsp;
      <a class="btn btn-lg btn-primary" href="{% url 'account:signup' %}" style="background-color:transparent;color:black;border-color:black;border-width:2px" role="button">Sign Up</a>&nbsp;&nbsp;
      <a class="btn btn-lg btn-primary" href="{% url 'main:examples' %}" style="background-color:transparent;color:black;border-color:black;border-width:2px" role="button">Popular Examples</a>
    </p>
  </div>

  <hr>

  <div class="container px-4 py-5" style="background-color:#EAEDED">
    <h1>Contact the GPTune team</h1>
    <p class="lead">For any questions about GPTune and its history database, please contact to the GPTune developer team at <a href="mailto:gptune-dev@lbl.gov">gptune-dev@lbl.gov</a>.</p>
  </div>

</div>

{% endblock %}
