<!-- Author: Younghyun Cho <younghyun@berkeley.edu> -->

<!doctype html>

{% extends 'main/base.html' %}
{% load static %}

{% block content %}


<script>
  $(document).ready(function () {
    $('#nav-item-home').addClass('active');
  });
</script>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#777"/></svg>
      <div class="container">
        <div class="carousel-caption">
          <h1>Harness the Power of Crowdtuning</h1>

          <p>The GPTune autotuner allows users to save and re-use performance tuning data, so everyone can benefit from (expensive) runs of widely used high-performance computing codes.
          Please Sign Up For Free to access more data and use all the nice features of the history database!
          <p>
          <a class="btn btn-lg btn-primary" href="{% url 'repo:dashboard' %}" role="button">Go To Dashboard</a>&nbsp;&nbsp;
          <a class="btn btn-lg btn-primary" href="{% url 'account:signup' %}" role="button">Sign Up For Free</a>&nbsp;&nbsp;
          <a class="btn btn-lg btn-primary" href="https://github.com/gptune/GPTune/issues" role="button">Get Help From Developers</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <h1>Tuning Examples in History Database</h1>
  </div>
  <br>

  <div class="row">
    <div class="col-lg-4">
      <img src="{% static 'images/ScaLAPACK.gif' %}" width=140>
      <h2>ScaLAPACK</h2>
      <p>The ScaLAPACK (or Scalable LAPACK) library includes a subset of LAPACK routines redesigned for distributed memory MIMD parallel computers. It is currently written in a Single-Program-Multiple-Data style using explicit message passing for interprocessor communication. It assumes matrices are laid out in a two-dimensional block cyclic decomposition.</p>
      <form method="POST">
        <label><b>Tuning Problem</b></label>
        {% csrf_token %}
        <select class="custom-select d-block w-50" name="tuning_problem_unique_name">
          <option value="" label="Choose..." selected></option>
          {% if tuning_problems_avail_per_category %}
          {% for tuning_problem in tuning_problems_avail_per_category.ScaLAPACK %}
          <option value="{{ tuning_problem.unique_name }}">{{ tuning_problem.tuning_problem_name }} ({{ tuning_problem.user_info.user_name }})</option>
          </li>
          {% endfor %}
          {% else %}
          {% endif %}
        </select>
        <br>
        <button type="submit" class="btn btn-secondary">
          <span class="glyphicon glyphicon-search"></span>Dashboard &raquo;
        </button>
        <br>
        <br>
      </form>
    </div>

    <div class="col-lg-4">
      <img src="{% static 'images/SuperLULogo.png' %}" width=200>
      <h2>SuperLU_DIST</h2>
      <p>SuperLU_DIST contains a set of subroutines to solve a sparse linear system A*X=B. It uses Gaussian elimination with static pivoting (GESP). Static pivoting is a technique that combines the numerical stability of partial pivoting with the scalability of Cholesky (no pivoting), to run accurately and efficiently on large numbers of processors.</p>
      <form method="POST">
        <label><b>Tuning Problem</b></label>
        {% csrf_token %}
        <select class="custom-select d-block w-50" name="tuning_problem_unique_name">
          <option value="" label="Choose..." selected></option>
          {% if tuning_problems_avail_per_category %}
          {% for tuning_problem in tuning_problems_avail_per_category.SuperLU_DIST %}
          <option value="{{ tuning_problem.unique_name }}">{{ tuning_problem.tuning_problem_name }} ({{ tuning_problem.user_info.user_name }})</option>
          </li>
          {% endfor %}
          {% else %}
          {% endif %}
        </select>
        <br>
        <button type="submit" class="btn btn-secondary">
          <span class="glyphicon glyphicon-search"></span>Dashboard &raquo;
        </button>
        <br>
        <br>
      </form>
    </div>

    <div class="col-lg-4">
      <img src="{% static 'images/HypreLogo.png' %}" width=280>
      <h2>Hypre</h2>
      <p>The Parallel High Performance Preconditioners (hypre) is a library of routines for scalable (parallel) solution of linear systems. The built-in BLOPEX package in addition allows solving eigenvalue problems.</p>
      <form method="POST">
        <label><b>Tuning Problem</b></label>
        {% csrf_token %}
        <select class="custom-select d-block w-50" name="tuning_problem_unique_name">
          <option value="" label="Choose..." selected></option>
          {% if tuning_problems_avail_per_category %}
          {% for tuning_problem in tuning_problems_avail_per_category.Hypre %}
          <option value="{{ tuning_problem.unique_name }}">{{ tuning_problem.tuning_problem_name }} ({{ tuning_problem.user_info.user_name }})</option>
          </li>
          {% endfor %}
          {% else %}
          {% endif %}
        </select>
        <br>
        <button type="submit" class="btn btn-secondary">
          <span class="glyphicon glyphicon-search"></span>Dashboard &raquo;
        </button>
        <br>
        <br>
      </form>
    </div>
  </div>

</div>

{% endblock %}
