<!-- Author: Younghyun Cho <younghyun@berkeley.edu> -->

<!doctype html>

{% extends 'main/base.html' %}
{% load static %}

{% block content %}

<script>
  $(document).ready(function () {
    $('#nav-item-about').addClass('active');
  });
</script>

<div class="container">
  <br><br>
  <h1>Publications</h1>
  <p class="lead">
    <ul>
      <li><a href="https://arxiv.org/abs/2109.07563">Non-smooth Bayesian Optimization in Tuning Problems, arXiv preprint arXiv:2109.07563</a></li>
      <li><a href="https://ieeexplore.ieee.org/document/9691973">Enhancing Autotuning Capability with a History Database, MCSoC-2021, Special Session: Autotuning for Multicore & GPU</a></li>
      <li><a href="https://dl.acm.org/doi/abs/10.1145/3437801.3441621">GPTune: multitask learning for autotuning exascale applications, PPoPP 2021</a></li>
      <li><a href="https://arxiv.org/abs/1908.05792">Multitask and transfer learning for autotuning exascale applications, arXiv preprint arXiv:1908.05792</a></li>
    </ul>
  </p>

  <h1>Talks/Media</h1>
  <p class="lead">
    <ul>
      <li><a href="https://drive.google.com/file/d/1t-cMJ_jvdhJD3A4bRUAn8pmtM0MGvXpv/view?usp=sharing">Enhancing Autotuning Capability with a History Database, MCSoC-2021, Special Session: Autotuning for Multicore & GPU, December 22, 2021</a></li>
      <li><a href="https://www.youtube.com/watch?v=QDcZTEKh_b0">GPTune: Multitask Learning for Autotuning Exascale Applications, PPoPP 2021, February 27, 2021</a></li>
      <li><a href="https://www.youtube.com/watch?v=Xnj8FDquMgI&t=287s">Autotuning exascale applications with Gaussian Process Regression, E-NLA Seminar, October 14, 2020</a></li>
    </ul>
  </p>

  <h1>Tutorials</h1>
  <p class="lead">
    <ul>
      <li>
        <a href="{% url 'main:gptune-tutorial-ecp2021' %}">GPTune: Performance Autotuner for ECP Applications, Tutorial at ECP Annual Meeting 2021</a>
      </li>
    </ul>
  </p>

  <h1>White papers</h1>
  <p class="lead">
    <ul>
      <li>
          <a href="{% url 'documentation:gptune-crowd-tuning' %}">Crowd-tuning with GPTune History Database: Design Overview, Data-sharing Policy, and Plan to Maintain Security</a>
      </li>
    </ul>
  </p>

</div>

{% endblock %}
