<!-- Author: Younghyun Cho <younghyun@berkeley.edu> -->

<!doctype html>

{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<link href="{% static 'css/form-validation.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
<script type="text/javascript" src="{% static 'js/add-tuning-problem.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
<script>
  $(document).ready(function () {
    $('#nav-item-repo').addClass('active');
  });

  function AddInputDivField(input_div_id, input_div_name) {
    var input_div = document.getElementById(input_div_id);

    var num_inputs = document.getElementsByName(input_div_name).length+1;

    clone = input_div.cloneNode(true);
    clone.id = input_div_id + '_' + num_inputs;
    inputs = clone.getElementsByTagName('input');
    for (var z=0; z<inputs.length; z++)
      inputs[z].value = "";
    input_div.parentNode.appendChild(clone);
  }

  function RemoveInputDivField(input_div_id, input_div_name) {
    var num_inputs = document.getElementsByName(input_div_name).length;
    document.getElementById(input_div_id+'_'+num_inputs).remove();
  }
</script>

<div class="container" style="max-width: 700px">
  <div class="py-5 text-center">
    <h1>Add a Tuning Problem</h1>
  </div>

  <div class="container">
    <form method="POST" action="{% url 'repo:add-tuning-problem' %}" enctype="multipart/form-data">
      {% csrf_token %}

      <div id="add-form" style="display:block;">

        <div class="mb-3">
          <label><b>Tuning Problem</b></label>
          <div style="background-color: #f1f1f1; padding: 10px;">
              <label for="tuning_problem_name">Tuning Problem Name</label>
              <input type="text" class="form-control" id="tuning_problem_name" name="tuning_problem_name" required>
          </div>
        </div>

        <div class="mb-3">
          <label><b>Choose Category/Categories</b></label>

          <div id="selected_category"></div>

          <div class="rounded container mb-3" style="border: 2px solid; padding: 20px; max-width: 700px; max-height: 320px; resize: vertical; overflow: auto;">
            <div id="category_tree"></div>
          </div>

          <script>
            var category_jstree = {{ category_jstree | safe | escape }};
            $('#category_tree')
              .on("changed.jstree", function (e, data) {
                if(data.selected.length) {
                  alert('The selected node is: ' + data.instance.get_node(data.selected[0]).text);
                  UpdateSelectedCategory(this, data.selected);
                }
              })
              .jstree(category_jstree);
          </script>

          <div id="category_info"></div>
        </div>

        <div class="mb-3">
          <div class="row">
            <div class="col">
              <label><b>Task Space</b></label>
            </div>
            <div class="col d-block text-right">
              <a onClick="AddInputDivField('task_info_div', 'task_info');">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                  <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
                </svg>
              </a>
              <a onClick="RemoveInputDivField('task_info_div', 'task_info');">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-dash-square-fill" viewBox="0 0 16 16">
                  <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm2.5 7.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1z"/>
                </svg>
              </a>
            </div>
          </div>

          <div id="task_info_div" name="task_info" style="background-color: #f1f1f1">
            <div class="" style="padding-top: 5px; padding-bottom: 5px; padding-left: 20px; padding-right: 20px;">
              <div class="row">
                <div class="col">
                  <label>Name</label>
                  <input type="text" class="form-control" name="task_name" required>
                </div>
                <div class="col">
                  <label>Type</label>
                  <select class="custom-select d-block w-100" id="task_type" name="task_type" required>
                    <option value="" label="Choose..."></option>
                    <option value="integer" label="Integer"></option>
                    <option value="real" label="Real"></option>
                    <option value="categorical" label="Categorical"></option>
                  </select>
                </div>
                <div class="col-6">
                  <label>Description</label>
                  <input type="text" class="form-control" name="task_description">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <div class="row">
            <div class="col">
              <label><b>Tuning Parameter Space</b></label>
            </div>
            <div class="col d-block text-right">
              <a onClick="AddInputDivField('parameter_info_div', 'parameter_info');">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                  <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
                </svg>
              </a>
              <a onClick="RemoveInputDivField('parameter_info_div', 'parameter_info');">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-dash-square-fill" viewBox="0 0 16 16">
                  <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm2.5 7.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1z"/>
                </svg>
              </a>
            </div>
          </div>

          <div id="parameter_info_div" name="parameter_info" style="background-color: #f1f1f1">
            <div class="" style="padding-top: 5px; padding-bottom: 5px; padding-left: 20px; padding-right: 20px;">
              <div class="row">
                <div class="col">
                  <label>Name</label>
                  <input type="text" class="form-control" name="parameter_name" required>
                </div>
                <div class="col">
                  <label>Type</label>
                  <select class="custom-select d-block w-100" id="parameter_type" name="parameter_type">
                    <option value="" label="Choose..."></option>
                    <option value="integer" label="Integer"></option>
                    <option value="integer" label="Real"></option>
                    <option value="integer" label="Categorical"></option>
                  </select>
                </div>
                <div class="col-6">
                  <label>Description</label>
                  <input type="text" class="form-control" name="parameter_description">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <div class="row">
            <div class="col">
              <label><b>Output Space</b></label>
            </div>
            <div class="col d-block text-right">
              <a onClick="AddInputDivField('output_info_div', 'output_info');">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                  <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
                </svg>
              </a>
              <a onClick="RemoveInputDivField('output_info_div', 'output_info');">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-dash-square-fill" viewBox="0 0 16 16">
                  <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm2.5 7.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1z"/>
                </svg>
              </a>
            </div>
          </div>

          <div id="output_info_div" name="output_info" style="background-color: #f1f1f1">
            <div class="" style="padding-top: 5px; padding-bottom: 5px; padding-left: 20px; padding-right: 20px;">
              <div class="row">
                <div class="col">
                  <label>Name</label>
                  <input type="text" class="form-control" name="output_name" required>
                </div>
                <div class="col">
                  <label>Type</label>
                  <select class="custom-select d-block w-100" id="output_type" name="output_type">
                    <option value="" label="Choose..."></option>
                    <option value="integer" label="Integer"></option>
                    <option value="integer" label="Real"></option>
                    <option value="integer" label="Categorical"></option>
                  </select>
                </div>
                <div class="col-6">
                  <label>Description</label>
                  <input type="text" class="form-control" name="output_description">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label><b>Required Software Information</b> (the list of software data is obtained from CK (https://cknowledge.io/c/soft)</label>

          <div id="selected_software"></div>

          <div class="rounded container mb-3" style="border: 2px solid; padding: 20px; max-width: 700px; max-height: 320px; resize: vertical; overflow: auto;">
            <div id="software_tree"></div>
          </div>

          <script>
            var software_jstree = {{ software_jstree | safe | escape }};
            $('#software_tree')
              .on("changed.jstree", function (e, data) {
                if(data.selected.length) {
                  alert('The selected node is: ' + data.instance.get_node(data.selected[0]).text);
                  UpdateSelectedSoftware(this, data.selected);
                }
              })
              .jstree(software_jstree);
          </script>

          <div id="software_info"></div>
        </div>

        <div class="mb-3">
          <label><b>More information</b></label>
          <div style="background-color: #f1f1f1; padding: 10px;">
              <label for="tuning_problem_description">Please describe little bit about the tuning problem</label>
              <textarea class="form-control" id="tuning_problem_description" name="tuning_problem_description" rows="5"></textarea>
          </div>
        </div>

        <div class="mb-3">
          <label><b>Please email us at gptune-dev@lbl.gov if you want to suggest modifications/additions to the given data list (e.g. tuning category, software data, etc.)</b></label>
        </div>

        <div class="mb-3">
          <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
        </div>

      </div>
    </form>
  </div>
</div>

{% endblock %}
