<!-- Author: Younghyun Cho <younghyun@berkeley.edu> -->

<!doctype html>

{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<link href="{% static 'css/form-validation.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
<script type="text/javascript" src="{% static 'js/add-machine.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
<script>
  $(document).ready(function () {
    $('#nav-item-repo').addClass('active');
  });
</script>

<div class="container" style="max-width: 700px">
  <div class="py-5 text-center">
    <h1>Add Machine Information</h1>
  </div>


  <div class="container">
    <form method="POST" action="{% url 'repo:add-machine' %}" enctype="multipart/form-data">
      {% csrf_token %}

      <div id="add-form" style="display:block;">

        <div class="mb-3">
          <label for="machine_name"><b>Name of your machine</b></label>
          <input type="text" class="form-control" id="machine_name" name="machine_name" required>
        </div>

        <div class="mb-3">
          <label><b>Choose System Model(s)</b></label>

          <div id="selected_system_models"></div>

          <div class="rounded container mb-3" style="border: 2px solid; padding: 20px; max-width: 700px; max-height: 320px; resize: vertical; overflow: auto;">
            <div id="system_models_tree"></div>
          </div>

          <script>
            var system_models_jstree = {{ system_models_jstree | safe | escape }};
            $('#system_models_tree')
              .on("changed.jstree", function (e, data) {
                if(data.selected.length) {
                  alert('The selected node is: ' + data.instance.get_node(data.selected[0]).text);
                  UpdateSelectedSystemModels(this, data.selected);
                }
              })
              .jstree(system_models_jstree);
          </script>

          <div id="system_model_info"></div>
        </div>

        <div class="mb-3">
          <label><b>Choose Processor/Accelerator/Co-Processor Model(s)</b></label>

          <div id="selected_processor_models_div"></div>

          <div class="rounded container mb-3" style="border: 2px solid; padding: 20px; max-width: 700px; max-height: 320px; resize: vertical; overflow: auto;">
            <div id="proc_tree"></div>
          </div>
          <script>
            var processors_jstree = {{ processors_jstree | safe | escape }};
            $('#proc_tree')
              .on("changed.jstree", function (e, data) {
                if(data.selected.length) {

                  alert('The selected node is: ' + data.instance.get_node(data.selected[0]).text);
                  UpdateSelectedProcessorModels(this, data.selected);
                }
              })
              .jstree(processors_jstree);
          </script>

          <div id="processor_model_info"></div>

        </div>

        <div class="mb-3">
          <label for="machine_interconnect"><b>Choose Interconnect(s)</b></label>

          <div id="selected_interconnects"></div>

          <div class="rounded container mb-3" style="border: 2px solid; padding: 20px; max-width: 700px; max-height: 320px; resize: vertical; overflow: auto;">
            <div id="interconnect_tree"></div>
          </div>
          <script>
            var interconnect_jstree = {{ interconnect_jstree | safe | escape }};
            $('#interconnect_tree')
              .on("changed.jstree", function (e, data) {
                if(data.selected.length) {

                  alert('The selected node is: ' + data.instance.get_node(data.selected[0]).text);
                  UpdateSelectedInterconnect(this, data.selected);
                }
              })
              .jstree(interconnect_jstree);
          </script>

          <div id="interconnect_info"></div>
        </div>

        <div class="mb-3">
          <label id="machine_site"><b>Site</b></label>
          <input type="text" class="form-control" id="machine_site" name="machine_site" required>
        </div>

        <div class="mb-3">
          <label><b>Country/Location</b></label>
          <select class="custom-select d-block w-100" name="machine_country" required>
            <option value="" label="Choose..."></option>
            {% for country in country_list %}
            <option value="owner" label="{{ country }}"></option>
            {% endfor %}
          </select>
        </div>

        <div class="mb-3">
          <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
        </div>

      </div>
    </form>
  </div>
</div>

{% endblock %}
