<!-- Author: Younghyun Cho <younghyun@berkeley.edu> -->

<!doctype html>

{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<script>
  $(document).ready(function () {
    $('#nav-item-repo').addClass('active');
  });
</script>

<div class="container" style="max-width: 700px">
  <div class="py-5 text-center">
    <h1>Add a Tuning Problem</h1>
  </div>

  <div class="row mb-3 text-center">
    <div class="col-15">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 fw-normal">Regular Tuning Problem</h4>
        </div>
        <div class="card-body">
          <h2>Define the tuning problem with a common tuning template</h2>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Name of the tuning problem</li>
            <li>Task space</li>
            <li>Parameter space</li>
            <li>Output space</li>
            <li>Required meta information</li>
          </ul>
          <a href="{% url 'repo:add-tuning-problem' %}">
            <button type="button" class="w-100 btn btn-lg btn-primary">Add</button>
          </a>
        </div>
      </div>
    </div>

    <div class="col-15">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 fw-normal">Flexible Tuning Problem</h4>
        </div>
        <div class="card-body">
          <h2>Define the tuning problem with minimal information</h2>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Require the name of the tuning problem and minimal meta information. When uploading performance data (JSON), it does not check tuning space or other meta information.</li>
          </ul>
          <a href="{% url 'repo:add-tuning-problem-flexible' %}">
            <button type="button" class="w-100 btn btn-lg btn-primary">Add</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
