<!-- Author: Younghyun Cho <younghyun@berkeley.edu> -->

<!doctype html>

{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<link href="{% static 'css/form-validation.css' %}" rel="stylesheet">

<script>
  $(document).ready(function () {
    $('#nav-item-repo').addClass('active');
  });

  function UpdateUploadOptionFile() {
    document.getElementById('file_upload_form_div').style.display = 'block';
    document.getElementById('text_upload_form_div').style.display = 'none';
  }

  function UpdateUploadOptionText() {
    document.getElementById('file_upload_form_div').style.display = 'none';
    document.getElementById('text_upload_form_div').style.display = 'block';
  }

  function AddToggle() {
    if (document.getElementById('add-toggle').checked) {
      document.getElementById('add-form').style.display = 'block';
    } else {
      document.getElementById('add-form').style.display = 'none';
    }
  }

  function AddEmailInvites() {
    var div = document.getElementById('group_invites_div');

    var row_div = document.createElement('div');
    row_div.classList.add('row');
    row_div.classList.add('mb-3');

    var email_div = document.createElement('div');
    email_div.classList.add('col');
    var email_label = document.createElement('label');
    email_label.innerHTML = 'Email';
    email_div.appendChild(email_label);
    var email_input = document.createElement('input');
    email_input.classList.add('form-control');
    email_input.setAttribute('name', 'invites_emails');
    email_input.required = true;
    email_div.appendChild(email_input);

    var role_div = document.createElement('div');
    role_div.classList.add('col');
    var role_label = document.createElement('label');
    role_label.innerHTML = 'Role';
    role_div.appendChild(role_label);
    var role_select = document.createElement('select');
    role_select.classList.add('custom-select');
    role_select.classList.add('d-block');
    role_select.classList.add('w-100');
    role_select.setAttribute('name', 'invites_roles');
    var option_owner = document.createElement('option');
    option_owner.value = 'owner';
    option_owner.label = 'Owner';
    role_select.appendChild(option_owner);
    var option_member = document.createElement('option');
    option_member.value = 'member';
    option_member.label = 'Member';
    role_select.appendChild(option_member);
    role_select.selectedIndex = '1';
    role_div.appendChild(role_select);

    row_div.appendChild(email_div);
    row_div.appendChild(role_div);

    div.appendChild(row_div);
  }

</script>

<div class="container" style="max-width: 560px">
  <div class="py-5 text-center">
    <h1>Add a Collaboration Group</h1>
  </div>

  <div class="container">
    <form method="POST" action="{% url 'repo:add-group' %}" enctype="multipart/form-data">
      {% csrf_token %}

      <div id="add-form" style="display:block;">

        <div class="mb-3">
          <label for="group_name"><b>Name of your collaboration group</b></label>
          <input type="text" class="form-control" id="group_name" name="group_name" required>
        </div>

        <div id="group_invites_div" class="mb-3">
          <div class="row">
            <div class="col">
            <label for="group_invites"><b>Group Members</b></label>
            </div>
            <div class="col d-block text-right">
              Add more?
              <button type="button" onClick="AddEmailInvites();">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
                <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
              </svg>
              </button>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label>Email (You)</label>
              <input type="email" class="form-control" name="invites_emails" value="{{ user_email }}" readonly>
            </div>
            <div class="col">
              <label>Role</label>
              <select class="custom-select d-block w-100" name="invites_roles" style="pointer-events: none; background-color:rgba(0,0,0,0.08);">
                <option value="owner" label="Owner" selected></option>
                <option value="member" label="Member"></option>
              </select>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label>Email</label>
              <input type="email" class="form-control" name="invites_emails">
            </div>
            <div class="col">
              <label>Role</label>
              <select class="custom-select d-block w-100" name="invites_roles">
                <option value="owner" label="Owner"></option>
                <option value="member" label="Member" selected></option>
              </select>
            </div>
          </div>

        </div>

        <div class="mb-3">
          <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
        </div>

      </div>
    </form>
  </div>
</div>

{% endblock %}
