<!doctype html>

{% extends 'main/base.html' %}
<!-- {% load static %} -->
{% block content %}

    <!-- <p>
    <pre>{{ function_evaluations | pprint }}</pre>
    </p> -->
    <div>
        <div style="float: left; width: 50%">
            {% autoescape off %}
            {{ chart }}
            {% endautoescape %}
        </div>

        <div style="float: right; width: 50%">
            {% autoescape off %}
            {{ chart2 }}
            {% endautoescape %}
        </div>
    </div>
{% endblock %}
