<!doctype html>

{% extends 'main/base.html' %}
<!-- {% load static %} -->
{% block content %}

    <!-- <p>
    <pre>{{ function_evaluations | pprint }}</pre>
    </p> -->
    <div style="margin-top: 30px">
        <div style="float: left; width: 50%">
            {% autoescape off %}
                {{ chart2 }}
            {% endautoescape %}
        </div>

        <div style="float: right; width: 50%">
            {% autoescape off %}
                {{ chart }}
            {% endautoescape %}
        </div>
    </div>

    <div class="table-responsive table_outer" style="margin-top: 30px">
        <div class="text-left mb-3">
          <h4>Group Importances</h4>
        </div>

        <table id="function_evaluations" class="table table-striped table-bordered">
            <thead>
                <tr>            
                    <th>
                        <span class="tippy" data-tippy-content="
                          <div class='text-left'>
                            <h6>Machine setting used to generate the function evaluation result.</h6>
                          </div>">
                          <u>Resource Group</u>
                        </span>
                    </th>
            
                    <th>
                        <span class="tippy" data-tippy-content="
                          <div class='text-left'>
                            <h6>Software dependencies and the software versions used to generate the function evaluation result.</h6>
                          </div>">
                          <u>Kernel</u>
                        </span>
                    </th>
                    
                    <th>
                        <span class="tippy" data-tippy-content="
                          <div class='text-left'>
                            <h6>Software dependencies and the software versions used to generate the function evaluation result.</h6>
                          </div>">
                          <u>Resouce Importance </u>
                        </span>
                    </th>
                </tr>
            </thead>

            <tbody>
                {% for group_data in groups %}
                <tr>
                    <td style="background: white">
                        {{group_data.group_name}}
                    </td>

                    <td style="background: white">
                        {{group_data.region}}
                    </td>

                    <td style="background: white">
                        {{group_data.value}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    <div class="table-responsive table_outer" style="margin-top: 30px">
        <div class="text-left mb-3">
          <h4>Counter Importances</h4>
        </div>

        <table id="function_evaluations" class="table table-striped table-bordered">
            <thead>
                <tr>            
                    <th>
                        <span class="tippy" data-tippy-content="
                          <div class='text-left'>
                            <h6>Machine setting used to generate the function evaluation result.</h6>
                          </div>">
                          <u>Counter</u>
                        </span>
                    </th>
            
                    <th>
                        <span class="tippy" data-tippy-content="
                          <div class='text-left'>
                            <h6>Software dependencies and the software versions used to generate the function evaluation result.</h6>
                          </div>">
                          <u>Kernel</u>
                        </span>
                    </th>

                    <th>
                        <span class="tippy" data-tippy-content="
                          <div class='text-left'>
                            <h6>Software dependencies and the software versions used to generate the function evaluation result.</h6>
                          </div>">
                          <u>Groups</u>
                        </span>
                    </th>
                    
                    <th>
                        <span class="tippy" data-tippy-content="
                          <div class='text-left'>
                            <h6>Software dependencies and the software versions used to generate the function evaluation result.</h6>
                          </div>">
                          <u>Resouce Importance </u>
                        </span>
                    </th>
                </tr>
            </thead>

            <tbody>
                {% for counter_data in counters %}
                <tr>
                    <td style="background: white">
                        {{counter_data.counter_name}}
                    </td>

                    <td style="background: white">
                        {{counter_data.region}}
                    </td>

                    <td style="background: white">
                        {{counter_data.groups}}
                    </td>

                    <td style="background: white">
                        {{counter_data.value}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
