<!-- Author: Younghyun Cho <younghyun@berkeley.edu> -->

<!doctype html>

{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<link href="{% static 'css/form-validation.css' %}" rel="stylesheet">

<link href="{% static 'css/form-validation.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script type="text/javascript" src="{% static 'js/add-analytical-model.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>

<script>
  $(document).ready(function () {
    $('#nav-item-repo').addClass('active');
  });
</script>

<div class="container" style="max-width: 1000px">
  <div class="py-5 text-center">
    <h1>Performance (Surrogate) Model</h1>
  </div>

  <div class="container">
    <div class="mb-3">
      <div class="row">
        <div class="col">
          <h4><b>Model Information</b></h4>
        </div>
      </div>

      <div id="model_info_div" name="model_info" style="background-color: #f1f1f1">
        <div class="" style="padding-top: 10px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px;">
          <div class="row">
            <div class="col">
              <label for="tuning_problem_name">Tuning problem name</label>
              <input type="text" class="form-control" id="tuning_problem_name" name="tuning_problem_name" value="{{ model_data.tuning_problem_name }}" readonly>
            </div>
            <div class="col">
              <label for="tuning_problem_name">Tuning problem unique name</label>
              <input type="text" class="form-control" id="tuning_problem_unique_name" name="tuning_problem_unique_name" value="{{ model_data.tuning_problem_unique_name }}" readonly>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label for="hyperparameters">Model (LCM) hyperparameters</label>
              <input type="text" class="form-control" id="hyperparameters" name="hyperparameters" value="{{ model_data.hyperparameters }}" readonly>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label for="log-likelihood">Number of samples</label>
              <input type="text" class="form-control" id="num_samples" name="num_samples" value="{{ model_data.model_stats.num_samples }}" value="" readonly required>
            </div>
            <div class="col">
              <label for="log-likelihood">Log-likelihood</label>
              <input type="text" class="form-control" id="log-likelihood" name="log-likelihood" value="{{ model_data.model_stats.log_likelihood }}" value="" readonly required>
            </div>
            <div class="col">
              <label for="convergence_iterations">Convergence iterations</label>
              <input type="text" class="form-control" id="convergence_iterations" name="convergence_iterations" value="{{ model_data.model_stats.iterations }}" value="" readonly required>
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-3">
      <div class="row">
        <div class="col">
          <h4><b>List of function evaluations used to build the surrogate model.</b></h4>
        </div>
      </div>

      <div style="padding-top: 10px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px; background-color: #f1f1f1">
      <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>

      <script src="https://unpkg.com/@popperjs/core@2"></script>
      <script src="https://unpkg.com/tippy.js@6"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/stacktable.js/1.0.0/stacktable.js"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.3/js/foundation.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/what-input/2.1.1/what-input.min.js"></script>
      <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/7635/stacktable.js"></script>
      <script src="https://unpkg.com/popper.js@1"></script>
      <script src="https://unpkg.com/tippy.js@4"></script>

      <link href="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.2.2/motion-ui.css" rel="stylesheet">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.3/css/foundation-float.css" rel="stylesheet">
      <link href="https://unpkg.com/tippy.js@4/themes/google.css" rel="stylesheet">

      <script>
        $(document).ready(function() {
          $('body').on('mouseenter', '.tippy', function(e) {
            tippy('body .tippy', {
            })
          });
        });
      </script>

      <div class="table-responsive">
        <div class="text-left">
          <h4>Tips</h4>
          <ul>
              <li><strong>Number of function evaluation result: {{ model_data.model_stats.num_samples }}</strong></li>
              <li><strong>Put your mouse cursor on each parameter to see the details.</strong></li>
              <li><strong>Put your mouse cursor on machine/software configuration of each function evaluation to see the detailed machine/software setting to reproduce the function evaluation result.</strong></li>
              <li><strong>Click on each parameter to sort the table.</strong></li>
          </ul>
        </div>

        <table class="table table-striped table-sm sortable">
          <thead>
            <tr>
              <th style="background: white">
                <span class="tippy" data-tippy-content="
                  <div class='text-left'>
                    <h6>Sample number</h6>
                  </div>">
                  <u>#</u>
                </span>
              </th>

              <th style="background: white">
                <span class="tippy" data-tippy-content="
                  <div class='text-left'>
                    <h6>Machine setting used to generate the function evaluation result.</h6>
                  </div>">
                  <u>Machine Configuration</u>
                </span>
              </th>

              <th style="background: white">
                <span class="tippy" data-tippy-content="
                  <div class='text-left'>
                    <h6>Software dependencies and the software versions used to generate the function evaluation result.</h6>
                  </div>">
                  <u>Software Configuration</u>
                </span>
              </th>

              {% for task_parameter in model_data.task_parameters %}
              <th style="background: #DFD">
                <span class="tippy" data-tippy-content="
                  <div class='text-left'>
                    <h6>Task parameter</h6>
                    <ul>
                      <li>Name: {{ task_parameter.name }}</li>
                      <li>Type: {{ task_parameter.type }}</li>
                      <li>Description: {{ task_parameter.description }}</li>
                    </ul>
                  </div>">
                  <u>Task Param. ({{ task_parameter.name }})</u>
                </span>
              </th>
              {% endfor %}

              {% for tuning_parameter in model_data.tuning_parameters %}
              <th style="background: #FFD">
                <span class="tippy" data-tippy-content="
                  <div class='text-left'>
                    <h6>Task parameter</h6>
                    <ul>
                      <li>Name: {{ tuning_parameter.name }}</li>
                      <li>Type: {{ tuning_parameter.type }}</li>
                      <li>Description: {{ tuning_parameter.description }}</li>
                    </ul>
                  </div>">
                  <u>Tuning Param. ({{ tuning_parameter.name }})</u>
                </span>
              </th>
              {% endfor %}

              {% for output_parameter in model_data.output_parameters %}
              <th style="background: #DDF">
                <span class="tippy" data-tippy-content="
                  <div class='text-left'>
                    <h6>Task parameter</h6>
                    <ul>
                      <li>Name: {{ output_parameter.name }}</li>
                      <li>Type: {{ output_parameter.type }}</li>
                      <li>Description: {{ output_parameter.description }}</li>
                    </ul>
                  </div>">
                  <u>Output ({{ output_parameter.name }})</u>
                </span>
              </th>
              {% endfor %}

              <th style="background: white">
                Details in JSON
              </th>
            </tr>
          </thead>
          <tbody>
            {% for func_eval in model_data.function_evaluations %}
            {% ifequal func_eval.id model_data.best_func_eval_id %}
            <tr style="color: blue;">
            {% else %}
            <tr>
            {% endifequal %}
              <td style="background: white">
                {{func_eval.id}}
              </td>

              <td style="background: white">
                <span class="tippy" data-tippy-content="
                  <div class='text-left'>
                    <h6>Machine Configuration</h6>
                    {{ func_eval.machine_configuration }}
                  </div>">
                  <u>
                    {% for key in func_eval.machine_configuration %}
                      {% ifequal key 'machine_name' %}
                        {{ func_eval.machine_configuration.machine_name }}
                      {% else %}
                        {{ key }}
                      {% endifequal %}
                    {% endfor %}
                  </u>
                </span>
              </td>

              <td style="background: white">
                <span class="tippy" data-tippy-content="
                  <div class='text-left'>
                    <h6>Software Configuration</h6>
                    {{ func_eval.software_configuration }}
                  </div>">
                  <u>
                    {% for key in func_eval.software_configuration %}
                      {{ key }}
                    {% endfor %}
                  </u>
                </span>
              </td>

              {% for key, value in func_eval.task_parameter.items %}
              <td style="background: #DFD">
                {{ value }}
              </td>
              {% endfor %}

              {% for key, value in func_eval.tuning_parameter.items %}
              <td style="background: #FFD">
                {{ value }}
              </td>
              {% endfor %}

              {% for key, value in func_eval.evaluation_result.items %}
              <td style="background: #DDF">
                {{ value | floatformat:2 }}
              </td>
              {% endfor %}

              <td style="background: white">
                <a data-toggle="modal" data-target="#detailModalLong_{{ func_eval.uid }}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-text" viewBox="0 0 16 16">
                    <path d="M5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zM5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1H5z"/>
                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"/>
                  </svg>
                </a>
              </td>

              <div class="modal fade" id="detailModalLong_{{ func_eval.uid }}" tabindex="-1" role="dialog" aria-labelledby="detailModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="detailModalLongTitle">Details of the Function Evaluation Data</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <pre>{{ func_eval | pprint }}</pre>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      </div>
    </div>

    <div class="mb-3">
      <div class="row">
        <div class="col">
          <h4><b>Make prediction</b></h4>
        </div>
      </div>

      <form method="POST" action="{% url 'repo:model-prediction' %}?tuning_problem_unique_name={{ model_data.tuning_problem_unique_name }}&surrogate_model_uid={{ model_data.surrogate_model_uid }}" class="needs-validation" novalidate>
        <input type="hidden" name="tuning_problem_unique_name" value={{ model_data.tuning_problem_unique_name }}></input>
        <input type="hidden" name="surrogate_model_uid" value={{ model_data.surrogate_model_uid }}></input>
        {% csrf_token %}

        <div style="padding-top: 10px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px; background-color: #f1f1f1">
          <div class="row mb-3">
            <div class="col">
              <b>Task parameters</b>
            </div>
          </div>

          {% for task_parameter in model_data.task_parameters %}
          <div class="row mb-3">
            <div class="col-2">
              <label>Name</label>
              <input type="text" class="form-control" name="task_parameter_name" value="{{ task_parameter.name }}" readonly>
            </div>
            <div class="col-2">
              <label>Type</label>
              <input type="text" class="form-control" name="task_parameter_type" value="{{ task_parameter.type }}" readonly>
            </div>
            <div class="col">
              <label>Description</label>
              <input type="text" class="form-control" name="task_description" value="{{ task_parameter.description }}" readonly>
            </div>
            <div class="col">
              <label>Input</label>
              <select class="custom-select d-block w-100" name="task_parameter">
                {% for task_option in task_parameter.options %}
                <option value="{{ task_option }}">
                {{ task_option }}
                </option>
                {% endfor %}
              </select>
            </div>
          </div>
          {% endfor %}

          <div class="row mb-3">
            <div class="col">
              <b>Tuning parameters</b>
            </div>
          </div>

          {% for tuning_parameter in model_data.tuning_parameters %}
          <div class="row mb-3">
            <div class="col-2">
              <label>Name</label>
              <input type="text" class="form-control" name="tuning_parameter_name" value="{{ tuning_parameter.name }}" readonly>
            </div>
            <div class="col-2">
              <label>Type</label>
              <input type="text" class="form-control" name="tuning_parameter_type" value="{{ tuning_parameter.type }}" readonly>
            </div>
            <div class="col">
              <label>Description</label>
              <input type="text" class="form-control" name="tuning_parameter_description" value="{{ tuning_parameter.description }}" readonly>
            </div>
            <div class="col">
              <label>Input ({{ tuning_parameter.lower_bound }}~{{ tuning_parameter.upper_bound }})</label>
              <input type="text" class="form-control" name="tuning_parameter" value="{{ tuning_parameter.value }}">
            </div>
          </div>
          {% endfor %}

          <div class="row mb-3">
            <div class="col-4">
              <label></label>
              <button class="btn btn-primary btn-lg btn-block" type="submit">Predict Output</button>
            </div>
          </div>

          {% for output_parameter in model_data.output_parameters %}
          <div class="row mb-3">
            <div class="col-2">
              <label>Name</label>
              <input type="text" class="form-control" name="output_parameter_name" value="{{ output_parameter.name }}" readonly>
            </div>
            <div class="col-2">
              <label>Type</label>
              <input type="text" class="form-control" name="output_parameter_type" value="{{ output_parameter.type }}" readonly>
            </div>
            <div class="col">
              <label>Description</label>
              <input type="text" class="form-control" name="output_parameter_description" value="{{ output_parameter.description }}" readonly>
            </div>
            <div class="col">
              <label>Predicted Result (Mean Value)</label>
              <input type="text" style="color: blue;" class="form-control" name="output_parameter" value="{{ output_parameter.result }}" readonly>
            </div>
            <div class="col">
              <label>Standard Deviation of the GP Prediction Result</label>
              <input type="text" style="color: blue;" class="form-control" name="output_parameter" value="{{ output_parameter.result_std }}" readonly>
            </div>
          </div>
          {% endfor %}
        </div>
      </form>
    </div>

    <div class="mb-3">
      <div class="row">
        <div class="col">
          <h4><b>Sensitivity Analysis</b></h4>
        </div>
      </div>

      <form method="POST" action="{% url 'repo:sobol-analysis' %}?tuning_problem_unique_name={{ model_data.tuning_problem_unique_name }}&surrogate_model_uid={{ model_data.surrogate_model_uid }}" class="needs-validation" novalidate>
        <input type="hidden" name="tuning_problem_unique_name" value={{ model_data.tuning_problem_unique_name }}></input>
        <input type="hidden" name="surrogate_model_uid" value={{ model_data.surrogate_model_uid }}></input>
        {% csrf_token %}

        <div style="padding-top: 10px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px; background-color: #f1f1f1">
          <h4> What is Sensitivity Analysis?</h4>
          <div class="mb-3">
            [Quote from <a href="https://salib.readthedocs.io/en/latest/basics.html">SALib</a>] According to <a href="https://en.wikipedia.org/wiki/Sensitivity_analysis">Wikipedia</a>, sensitivity analysis is "the study of how the uncertainty in the output of a mathematical model or system (numerical or otherwise) can be apportioned to different sources of uncertainty in its inputs." The sensitivity of each input is often represented by a numeric value, called the sensitivity index. Sensitivity indices come in several forms:
            <ul>
              <li>First-order (main-effect) indices: measures the contribution to the output variance by a single model input alone.</li>
              <li>Second-order indices: measures the contribution to the output variance caused by the interaction of two model inputs.</li>
              <li>Total-order index: measures the contribution to the output variance caused by a model input, including both its first-order effects (the input varying alone) and all higher-order interactions.</li>
            </ul>
          </div>

          <h4>Sensitivity Analysis in GPTune</h4>
          <div class="mb-3">
            Currently, GPTune offers a sensitivity analysis tool based on <a href="https://www.sciencedirect.com/science/article/abs/pii/S0378475400002706">the Sobol method</a>. The Sobol method is a global sensitivity analysis providing an assessment of parameter sensitivity. 
            The Sobol analysis requires (1) samples drawn from the function directly, (2) evaluating the model using the generated sample inputs and saving the model output, and (3) conducting a variance-based mathematical analysis to compute the sensitivity indices.
            In the GPTune interface, we provide a functionality of the Sobol sensitivity analysis based on samples drawn from the fitted GP surrogate model (we use the <a href="https://www.sciencedirect.com/science/article/abs/pii/S0010465502002801">Saltelli</a> sampling method).
            For the sampling and Sobol analysis, we use the implementation of <a href="https://salib.readthedocs.io/en/latest/">SALib.</a>
          </div>

          <div class="row mb-3">
            <div class="col">
              <h4>Input task</h4>
              <select class="custom-select d-block w-100" name="sobol_analysis_task_parameter">
                {% for task_parameter in sobol_analysis.task_parameters %}
                <option value="{{ task_parameter }}">
                {{ task_parameter }}
                </option>
                {% endfor %}
              </select>
            </div>
            <div class="col-4">
              <h4>Num samples</h4>
              <input type="text" class="form-control" name="sobol_analysis_num_samples" value="{{ sobol_analysis.num_samples }}">
            </div>
          </div>

          <div class="row mb-3">
            <label></label>
            <button class="btn btn-primary btn-lg btn-block" type="submit">Run Sobol Analysis</button>
          </div>

          <h4>How to Read the Computed Values</h4>
          <div>
            Outputs from SALib include the first-order index, the total index, and the second-order indicies, described above.
            The SALib returns Si which is a Python dict with the keys "S1", "S2", "ST", "S1_conf", "S2_conf", and "ST_conf".
            A first-order index S1 is the contribution to the output variance of the main (linear) effect of an input attribute Xi, therefore it measures the effect of varying Xi alone, but averaged over variations in other input parameters.
            A total effect index ST represents the total contribution (including interactions) of a parameter Xi to the response variance; it is obtained by summing all first-order and higher-order effects involving the parameter Xi.
            The _conf keys store the corresponding confidence intervals, typically with a confidence level of 95%.
            We print the individual values from Si as shown below.
            It is standardised by the total variance to provide a fractional contribution, its mathematical details can be found in <a href="https://www.sciencedirect.com/science/article/abs/pii/S0378475400002706">[Sobol 2001]</a> and <a href="https://www.sciencedirect.com/science/article/abs/pii/S0010465509003087">[Saltelli 2010]</a>.
            For the details of the underlying GPTune algorithm and programmable interface, please refer to our <a href="http://127.0.0.1:8000/documentation/gptune-user-guide/">users guide</a> (to be updated shortly).

          </div>

          {% if sobol_analysis.s1_parameters %}
          <div class="row mb-3">
            <div class="col">
              <b>First-order indices.</b>
            </div>
          </div>
          {% endif %}

          {% for s1_parameter in sobol_analysis.s1_parameters %}
          <div class="row mb-3">
            <div class="col">
              <label>Name</label>
              <input type="text" class="form-control" name="tuning_parameter_name" value="{{ s1_parameter.name }}" readonly>
            </div>
            <div class="col">
              <label>S1</label>
              <input type="text" style="color: blue;" class="form-control" name="tuning_parameter_s1" value="{{ s1_parameter.S1 }}" readonly>
            </div>
            <div class="col">
              <label>S1_conf</label>
              <input type="text" style="color: blue;" class="form-control" name="tuning_parameter_s1_conf" value="{{ s1_parameter.S1_conf }}" readonly>
            </div>
          </div>
          {% endfor %}

          {% if sobol_analysis.st_parameters %}
          <div class="row mb-3">
            <div class="col">
              <b>Total-effect index.</b>
            </div>
          </div>
          {% endif %}

          {% for st_parameter in sobol_analysis.st_parameters %}
          <div class="row mb-3">
            <div class="col">
              <label>Name</label>
              <input type="text" class="form-control" name="tuning_parameter_name" value="{{ st_parameter.name }}" readonly>
            </div>
            <div class="col">
              <label>ST</label>
              <input type="text" style="color: blue;" class="form-control" name="tuning_parameter_st" value="{{ st_parameter.ST }}" readonly>
            </div>
            <div class="col">
              <label>ST_conf</label>
              <input type="text" style="color: blue;" class="form-control" name="tuning_parameter_st_conf" value="{{ st_parameter.ST_conf }}" readonly>
            </div>
          </div>
          {% endfor %}

          {% if sobol_analysis.s2_parameters %}
          <div class="row mb-3">
            <div class="col">
              <b>Second-order indices.</b>
            </div>
          </div>
          {% endif %}

          {% for s2_parameter in sobol_analysis.s2_parameters %}
          <div class="row mb-3">
            <div class="col">
              <label>Name</label>
              <input type="text" class="form-control" name="tuning_parameter_name" value="{{ s2_parameter.name1 }}-{{ s2_parameter.name2 }}" readonly>
            </div>
            <div class="col">
              <label>S2</label>
              <input type="text" style="color: blue;" class="form-control" name="tuning_parameter_s2" value="{{ s2_parameter.S2 }}" readonly>
            </div>
            <div class="col">
              <label>S2_conf</label>
              <input type="text" style="color: blue;" class="form-control" name="tuning_parameter_s2_conf" value="{{ s2_parameter.S2_conf }}" readonly>
            </div>
          </div>
          {% endfor %}

        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
