<!-- Author: Younghyun Cho <younghyun@berkeley.edu> -->

<!doctype html>

{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<link href="{% static 'css/form-validation.css' %}" rel="stylesheet">

<link href="{% static 'css/form-validation.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<script type="text/javascript" src="{% static 'js/add-analytical-model.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>

<script>
  $(document).ready(function () {
    $('#nav-item-repo').addClass('active');
  });
</script>

<div class="container" style="max-width: 1000px">
  <div class="py-5 text-center">
    <h1>Play with the Performance (Surrogate) Model</h1>
  </div>

  <div class="container">
    <div class="mb-3">
      <div class="row">
        <div class="col">
          <label><b>Model information</b></label>
        </div>
      </div>

      <div id="model_info_div" name="model_info" style="background-color: #f1f1f1">
        <div class="" style="padding-top: 10px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px;">
          <div class="row">
            <div class="col">
              <label for="tuning_problem_name">Tuning problem name</label>
              <input type="text" class="form-control" id="tuning_problem_name" name="tuning_problem_name" value="{{ model_data.tuning_problem_name }}" readonly>
            </div>
            <div class="col">
              <label for="tuning_problem_name">Tuning problem unique name</label>
              <input type="text" class="form-control" id="tuning_problem_unique_name" name="tuning_problem_unique_name" value="{{ model_data.tuning_problem_unique_name }}" readonly>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label for="hyperparameters">Model (LCM) hyperparameters</label>
              <input type="text" class="form-control" id="hyperparameters" name="hyperparameters" value="{{ model_data.hyperparameters }}" readonly>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <label for="log-likelihood">Number of samples</label>
              <input type="text" class="form-control" id="num_samples" name="num_samples" value="{{ model_data.model_stats.num_samples }}" value="" readonly required>
            </div>
            <div class="col">
              <label for="log-likelihood">Log-likelihood</label>
              <input type="text" class="form-control" id="log-likelihood" name="log-likelihood" value="{{ model_data.model_stats.log_likelihood }}" value="" readonly required>
            </div>
            <div class="col">
              <label for="convergence_iterations">Convergence iterations</label>
              <input type="text" class="form-control" id="convergence_iterations" name="convergence_iterations" value="{{ model_data.model_stats.iterations }}" value="" readonly required>
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-3">
      <div class="row">
        <div class="col">
          <label><b>Analysis</b></label>
        </div>
      </div>

      <div style="padding-top: 10px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px; background-color: #f1f1f1">
      <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
      <div class="table-responsive">
        number of function evaluation result: {{ model_data.model_stats.num_samples }}
        <br><br>

        <table class="table table-striped table-sm sortable">
          <thead>
            <tr>
              <th>#</th>

              {% for key, value in model_data.function_evaluations.0.task_parameter.items %}
              <th>{{ key }}</th>
              {% endfor %}

              {% for key, value in model_data.function_evaluations.0.tuning_parameter.items %}
              <th>{{ key }}</th>
              {% endfor %}

              {% for key, value in model_data.function_evaluations.0.evaluation_result.items %}
              <th>Result ({{ key }})</th>
              {% endfor %}

              <th>Details</th>
            </tr>
          </thead>
          <tbody>
            {% for func_eval in model_data.function_evaluations %}
            {% ifequal func_eval.id model_data.best_func_eval_id %}
            <tr style="color: blue;">
            {% else %}
            <tr>
            {% endifequal %}
              <td>{{func_eval.id}}</td>

              {% for key, value in func_eval.task_parameter.items %}
              <td>{{ value }}</td>
              {% endfor %}

              {% for key, value in func_eval.tuning_parameter.items %}
              <td>{{ value }}</td>
              {% endfor %}

              {% for key, value in func_eval.evaluation_result.items %}
              <td>{{ value | floatformat:2 }}</td>
              {% endfor %}

              <td>
                <a data-toggle="modal" data-target="#detailModalLong_{{ func_eval.uid }}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-text" viewBox="0 0 16 16">
                    <path d="M5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zM5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1H5z"/>
                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"/>
                  </svg>
                </a>
              </td>

              <div class="modal fade" id="detailModalLong_{{ func_eval.uid }}" tabindex="-1" role="dialog" aria-labelledby="detailModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="detailModalLongTitle">Details of the Function Evaluation Data</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <pre>{{ func_eval | pprint }}</pre>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      </div>
    </div>

    <div class="mb-3">
      <div class="row">
        <div class="col">
          <label><b>Make prediction</b></label>
        </div>
      </div>

      <form method="POST" action="{% url 'repo:model-prediction' %}" class="needs-validation" novalidate>
        <input type="hidden" name="tuning_problem_unique_name" value={{ model_data.tuning_problem_unique_name }}></input>
        <input type="hidden" name="surrogate_model_uid" value={{ model_data.surrogate_model_uid }}></input>
        {% csrf_token %}

        <div style="padding-top: 10px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px; background-color: #f1f1f1">
          <div class="row mb-3">
            <div class="col">
              <b>Task parameters</b>
            </div>
          </div>

          {% for task_parameter in model_data.task_parameters %}
          <div class="row mb-3">
            <div class="col-2">
              <label>Name</label>
              <input type="text" class="form-control" name="task_parameter_name" value="{{ task_parameter.name }}" readonly>
            </div>
            <div class="col-2">
              <label>Type</label>
              <input type="text" class="form-control" name="task_parameter_type" value="{{ task_parameter.type }}" readonly>
            </div>
            <div class="col">
              <label>Description</label>
              <input type="text" class="form-control" name="task_description" value="{{ task_parameter.description }}" readonly>
            </div>
            <div class="col">
              <label>Input</label>
              <select class="custom-select d-block w-100" name="task_parameter">
                {% for task_option in task_parameter.options %}
                <option value="{{ task_option }}">
                {{ task_option }}
                </option>
                {% endfor %}
              </select>
            </div>
          </div>
          {% endfor %}

          <div class="row mb-3">
            <div class="col">
              <b>Tuning parameters</b>
            </div>
          </div>

          {% for tuning_parameter in model_data.tuning_parameters %}
          <div class="row mb-3">
            <div class="col-2">
              <label>Name</label>
              <input type="text" class="form-control" name="tuning_parameter_name" value="{{ tuning_parameter.name }}" readonly>
            </div>
            <div class="col-2">
              <label>Type</label>
              <input type="text" class="form-control" name="tuning_parameter_type" value="{{ tuning_parameter.type }}" readonly>
            </div>
            <div class="col">
              <label>Description</label>
              <input type="text" class="form-control" name="tuning_parameter_description" value="{{ tuning_parameter.description }}" readonly>
            </div>
            <div class="col">
              <label>Input ({{ tuning_parameter.lower_bound }}~{{ tuning_parameter.upper_bound }})</label>
              <input type="text" class="form-control" name="tuning_parameter" value="{{ tuning_parameter.value }}">
            </div>
          </div>
          {% endfor %}

          <div class="row mb-3">
            <div class="col-4">
              <label></label>
              <button class="btn btn-primary btn-lg btn-block" type="submit">Predict Output</button>
            </div>
          </div>

          {% for output_parameter in model_data.output_parameters %}
          <div class="row mb-3">
            <div class="col-2">
              <label>Name</label>
              <input type="text" class="form-control" name="output_parameter_name" value="{{ output_parameter.name }}" readonly>
            </div>
            <div class="col-2">
              <label>Type</label>
              <input type="text" class="form-control" name="output_parameter_type" value="{{ output_parameter.type }}" readonly>
            </div>
            <div class="col">
              <label>Description</label>
              <input type="text" class="form-control" name="output_parameter_description" value="{{ output_parameter.description }}" readonly>
            </div>
            <div class="col">
              <label>Predicted Result</label>
              <input type="text" style="color: blue;" class="form-control" name="output_parameter" value="{{ output_parameter.result }}" readonly>
            </div>
            <div class="col">
              <label>Prediction Variance</label>
              <input type="text" style="color: blue;" class="form-control" name="output_parameter" value="{{ output_parameter.result_var }}" readonly>
            </div>
          </div>
          {% endfor %}
        </div>
      </form>
    </div>

    <div class="mb-3">
      <div class="row">
        <div class="col">
          <label><b>Sensitivity Analysis</b></label>
        </div>
      </div>

      <form method="POST" action="{% url 'repo:sobol-analysis' %}" class="needs-validation" novalidate>
        <input type="hidden" name="tuning_problem_unique_name" value={{ model_data.tuning_problem_unique_name }}></input>
        <input type="hidden" name="surrogate_model_uid" value={{ model_data.surrogate_model_uid }}></input>
        {% csrf_token %}

        <div style="padding-top: 10px; padding-bottom: 20px; padding-left: 20px; padding-right: 20px; background-color: #f1f1f1">
          <div class="row mb-3">
            <div class="col">
              <label>Input task</label>
              <select class="custom-select d-block w-100" name="sobol_analysis_task_parameter">
                {% for task_parameter in sobol_analysis.task_parameters %}
                <option value="{{ task_parameter }}">
                {{ task_parameter }}
                </option>
                {% endfor %}
              </select>
            </div>
            <div class="col-4">
              <label>Num samples</label>
              <input type="text" class="form-control" name="sobol_analysis_num_samples" value="{{ sobol_analysis.num_samples }}">
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label></label>
              <button class="btn btn-primary btn-lg btn-block" type="submit">Sobol Analysis</button>
            </div>
            <div class="col">
              <a href="https://en.wikipedia.org/wiki/Variance-based_sensitivity_analysis">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-question-square" viewBox="0 0 16 16">
                  <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                  <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                </svg>
              </a>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <b>First-order indices.</b>
            </div>
          </div>

          {% for s1_parameter in sobol_analysis.s1_parameters %}
          <div class="row mb-3">
            <div class="col">
              <label>Name</label>
              <input type="text" class="form-control" name="tuning_parameter_name" value="{{ s1_parameter.name }}" readonly>
            </div>
            <div class="col">
              <label>S1</label>
              <input type="text" style="color: blue;" class="form-control" name="tuning_parameter_s1" value="{{ s1_parameter.S1 }}" readonly>
            </div>
            <div class="col">
              <label>S1_conf</label>
              <input type="text" style="color: blue;" class="form-control" name="tuning_parameter_s1_conf" value="{{ s1_parameter.S1_conf }}" readonly>
            </div>
          </div>
          {% endfor %}

          <div class="row mb-3">
            <div class="col">
              <b>Total-effect index.</b>
            </div>
          </div>

          {% for st_parameter in sobol_analysis.st_parameters %}
          <div class="row mb-3">
            <div class="col">
              <label>Name</label>
              <input type="text" class="form-control" name="tuning_parameter_name" value="{{ st_parameter.name }}" readonly>
            </div>
            <div class="col">
              <label>ST</label>
              <input type="text" style="color: blue;" class="form-control" name="tuning_parameter_st" value="{{ st_parameter.ST }}" readonly>
            </div>
            <div class="col">
              <label>ST_conf</label>
              <input type="text" style="color: blue;" class="form-control" name="tuning_parameter_st_conf" value="{{ st_parameter.ST_conf }}" readonly>
            </div>
          </div>
          {% endfor %}

          <div class="row mb-3">
            <div class="col">
              <b>Second-order indices.</b>
            </div>
          </div>

          {% for s2_parameter in sobol_analysis.s2_parameters %}
          <div class="row mb-3">
            <div class="col">
              <label>Name</label>
              <input type="text" class="form-control" name="tuning_parameter_name" value="{{ s2_parameter.name1 }}-{{ s2_parameter.name2 }}" readonly>
            </div>
            <div class="col">
              <label>S2</label>
              <input type="text" style="color: blue;" class="form-control" name="tuning_parameter_s2" value="{{ s2_parameter.S2 }}" readonly>
            </div>
            <div class="col">
              <label>S2_conf</label>
              <input type="text" style="color: blue;" class="form-control" name="tuning_parameter_s2_conf" value="{{ s2_parameter.S2_conf }}" readonly>
            </div>
          </div>
          {% endfor %}

        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
