<!-- Author: Younghyun Cho <younghyun@berkeley.edu> -->

<!doctype html>

{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<link href="{% static 'css/form-validation.css' %}" rel="stylesheet">

<script>
  $(document).ready(function () {
    $('#nav-item-repo').addClass('active');
  });
</script>

<div class="container">
  <div class="py-5 text-center">
    <h1>Tuning Problems in Our Database</h1>
  </div>

  <div class="d-block text-right mt-3">
    <a href="{% url 'repo:add-tuning-problem-select' %}">Add a new tuning problem</a>
  </div>

  <div class="table-responsive">

    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>#</th>
          <th>TuningProblem</th>
          <th>User</th>
          <th>Last Update</th>
          <th>TaskSpace</th>
          <th>TuningSpace</th>
          <th>OutputSpace</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        {% for tuning_problem in tuning_problem_list %}
        <tr>
          <td>{{ tuning_problem.id }}</td>
          <td>
            {{ tuning_problem.tuning_problem_info.tuning_problem_name }}
          </td>
          <td>
            {{ tuning_problem.user_info.user_name }}
          </td>
          <td>
            {{ tuning_problem.update_time.tm_mon }}/{{ tuning_problem.update_time.tm_mday }}/{{ tuning_problem.update_time.tm_year }}
          </td>
          <td>
            {% for task_info in tuning_problem.tuning_problem_info.task_info %}
              {% if forloop.last %}
                {{ task_info.task_name }}
              {% else %}
                {{ task_info.task_name }},
              {% endif %}
            {% endfor %}
          </td>
          <td>
            {% for parameter_info in tuning_problem.tuning_problem_info.parameter_info %}
              {% if forloop.last %}
                {{ parameter_info.parameter_name }}
              {% else %}
                {{ parameter_info.parameter_name }},
              {% endif %}
            {% endfor %}
          </td>
          <td>
            {% for output_info in tuning_problem.tuning_problem_info.output_info %}
              {% if forloop.last %}
                {{ output_info.output_name }}
              {% else %}
                {{ output_info.output_name }},
              {% endif %}
            {% endfor %}
          </td>
          <td>
            <a data-toggle="modal" data-target="#detailModalLong_{{ tuning_problem.uid }}">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-text" viewBox="0 0 16 16">
                <path d="M5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zM5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1H5z"/>
                <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"/>
              </svg>
            </a>
          </td>

          <div class="modal fade" id="detailModalLong_{{ tuning_problem.uid }}" tabindex="-1" role="dialog" aria-labelledby="detailModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="detailModalLongTitle">Details of the Machine Information</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <pre>{{ tuning_problem.tuning_problem_info | pprint }}</pre>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Okay</button>
                </div>
              </div>
            </div>
          </div>

        </tr>
        {% endfor %}
      </tbody>
    </table>
    <table>
    </table>
  </div>
</div>

{% endblock %}
