<!-- Author: Younghyun Cho <younghyun@berkeley.edu> -->

<!doctype html>

{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<script>
  $(document).ready(function () {
    $('#nav-item-repo').addClass('active');
  });

  function UpdateUploadOptionFile() {
      document.getElementById("file_upload_div").style.display = 'block';
      document.getElementById("json_textarea_div").style.display = 'none';
  }

  function UpdateUploadOptionText() {
      document.getElementById("file_upload_div").style.display = 'none';
      document.getElementById("json_textarea_div").style.display = 'block';
  }
</script>

<div class="container">
  <h1>Upload Performance Data</h1><br>

  <form method="POST" action="{% url 'repo:upload' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <b>Application name</b>
    <br>
    <input name="application" type="text" required>
    <br>
    <br>
    <b>Library/category of the application</b>
    <br>
    <input name="library" type="text" required>
    <br>
    <br>
    <b>Brief description of the application</b>
    <br>
    <input name="description" type="text">
    <br>
    <br>
    <b>Upload type</b>
    <br>
    <input name="upload" type="radio" value="file_upload" name="upload_type" checked="checked" onChange="UpdateUploadOptionFile();">
    <label for="file_upload">File upload</label>
    <input name="upload" type="radio" value="json_text" name="upload_type" onChange="UpdateUploadOptionText();">
    <label for="json_text">JSON text</label>

    <br>
    <br>

    <div id="file_upload_div" style="display: block;">
        <b>JSON file upload</b><br>
        <input type="file" id="file_upload_id" name="file_upload_name">
    </div>

    <div id="json_textarea_div" style="display: none;">
        <b>JSON text data</b><br>
        <textarea name="json_textarea" type="text" rows=20 cols=40></textarea>
    </div>

    <br>
    <br>
    <input type="submit" class="btn btn-primary" value="upload">
  </form>
</div>

{% endblock %}
