<!-- Author: Younghyun Cho <younghyun@berkeley.edu> -->

<!doctype html>

{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<link href="{% static 'css/form-validation.css' %}" rel="stylesheet">

<script>
  $(document).ready(function () {
    $('#nav-item-repo').addClass('active');
  });

  function UpdateMachineOption() {
    if (document.getElementById("machine_information_check_div").style.display == 'block') {
      document.getElementById("machine_information_check_div").style.display = 'none'
    } else {
      document.getElementById("machine_information_check_div").style.display = 'block'
    }
  }

  function UpdateUploadOptionFile() {
    document.getElementById("file_upload_form_div").style.display = 'block';
    document.getElementById("text_upload_form_div").style.display = 'none';
  }

  function UpdateUploadOptionText() {
    document.getElementById("file_upload_form_div").style.display = 'none';
    document.getElementById("text_upload_form_div").style.display = 'block';
  }

  function UploadPublic() {
    document.getElementById('group_invites_div').style.display = 'none';
  }

  function UploadPrivate() {
    document.getElementById('group_invites_div').style.display = 'none';
  }

  function UploadRegistered() {
    document.getElementById('group_invites_div').style.display = 'none';
  }

  function UploadGroup() {
    document.getElementById('group_invites_div').style.display = 'block';
  }

  function AddEmailInvites() {
    var div = document.getElementById('group_invites_div');

    var email_invite = document.createElement('input');
    email_invite.type = 'email';
    email_invite.classList.add('form-control');
    email_invite.setAttribute('name', 'group_invites');

    div.appendChild(email_invite);
  }
</script>

<div class="container" style="max-width: 560px">
  <div class="py-5 text-center">
    <h1>Upload Performance Data</h1>
  </div>

  <div class="container">
    <form method="POST" action="{% url 'repo:upload' %}" enctype="multipart/form-data" class="needs-validation" novalidate>
      {% csrf_token %}
      <div class="mb-3">
        <div class="mb-3">
          <label><b>Tuning Problem</b></label>

          <select class="custom-select d-block w-100" name="tuning_problem">
            <option value="" label="Choose..." selected></option>
            {% if tuning_problems_avail %}
            {% for tuning_problem in tuning_problems_avail %}
            <option value="{{ tuning_problem.unique_name }}">{{ tuning_problem.tuning_problem_name }}
            (tuning problem type: {{ tuning_problem.tuning_problem_type }})
            (defined by: {{ tuning_problem.user_info.user_name }})
            (update date: {{ tuning_problem.update_time.tm_mon }}/{{ tuning_problem.update_time.tm_mday }}/{{ tuning_problem.update_time.tm_year }})
            </option>
            </li>
            {% endfor %}
            {% else %}
            {% endif %}
          </select>

          <div class="d-block text-right mt-3">
              <label>Can't find your tuning problem?</label><br>
              <a href="{% url 'repo:add-tuning-problem' %}">Add a tuning problem</a>
          </div>
        </div>

        <div class="d-block my-3">
          <label><b>How to check the machine information?</b></label>
          <div class="custom-control custom-radio">
            <input class="custom-control-input" id="machine_check" name="machine_check_option" type="radio" value="machine_check" checked  onChange="UpdateMachineOption();" checked required>
            <label class="custom-control-label" for="machine_check">Choose the machine information from DB records</label>
          </div>
          <div class="custom-control custom-radio">
            <input class="custom-control-input" id="machine_nocheck" name="machine_check_option" type="radio" value="machine_nocheck" onChange="UpdateMachineOption();" required>
            <label class="custom-control-label" for="machine_nocheck">Do not check machine information</label>
          </div>
        </div>

        <div class="mb-3" id="machine_information_check_div" style="display: block;">
          <label for="machineVal"><b>Machine</b></label>
          <select class="custom-select d-block w-100" name="machine" id="machineVal">
            <option value="" label="Choose..." selected></option>
            {% if machines_avail %}
            {% for machine in machines_avail %}
            <option value="{{ machine.unique_name }}">
              {{ machine.machine_name }}
              (defined by: {{ machine.user_info.user_name }})
              (update date: {{ machine.update_time.tm_mon }}/{{ machine.update_time.tm_mday }}/{{ machine.update_time.tm_year }})
            </option>
            </li>
            {% endfor %}
            {% else %}
            {% endif %}
          </select>

          <div class="d-block text-right mt-3">
              <label>Can't find your machine?</label><br>
              <a href="{% url 'repo:add-machine' %}">Add machine information</a>
          </div>
        </div>

        <div class="d-block my-3">
          <label><b>Upload type</b></label>
          <div class="custom-control custom-radio">
            <input class="custom-control-input" id="file_upload" name="upload_type" type="radio" value="file_upload" checked  onChange="UpdateUploadOptionFile();" checked required>
            <label class="custom-control-label" for="file_upload">JSON file</label>
          </div>
          <div class="custom-control custom-radio">
            <input class="custom-control-input" id="json_upload" name="upload_type" type="radio" value="json_upload" onChange="UpdateUploadOptionText();" required>
            <label class="custom-control-label" for="json_upload">JSON text</label>
          </div>
        </div>

        <div class="form-group" id="file_upload_form_div" style="display: block;">
          <label for="file_upload_form">JSON file upload</label>
          <input type="file" class="form-control-file" id="file_upload_form" name="file_upload_form">
        </div>

        <div class="form-group" id="text_upload_form_div" style="display: none;">
          <label for="text_upload_form">JSON text upload</label>
          <textarea class="form-control" id="text_upload_form" name="text_upload_form" rows="20"></textarea>
        </div>

        <div class="d-block my-3">
          <label><b>Make it public?</b></label>
          <div class="custom-control custom-radio">
            <input id="public" name="accessibility" value="public" type="radio" class="custom-control-input" onClick="UploadPublic();" checked required>
            <label class="custom-control-label" for="public">I want to make this data publicly available</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="registered" name="accessibility" value="registered" type="radio" class="custom-control-input" onClick="UploadRegistered();" checked required>
            <label class="custom-control-label" for="registered">I want to share this data with registered users</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="group" name="accessibility" value="group" type="radio" class="custom-control-input" onClick="UploadGroup();" required>
            <label class="custom-control-label" for="group">I want to share this data with specific users</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="private" name="accessibility" value="private" type="radio" class="custom-control-input" onClick="UploadPrivate();" required>
            <label class="custom-control-label" for="private">I want to keep this data private for now</label>
          </div>
        </div>

        <div id="group_invites_div" style="display: none;">
          <label for="group_invites"><b>List of emails/groupnames who can access this data (comma separated)</b></label>
          <textarea class="form-control" id="group_invites" name="group_invites" rows="5"></textarea>
        </div>

        <div class="d-block my-3">
            <script src='https://www.google.com/recaptcha/api.js'></script>
            <div class="g-recaptcha" data-sitekey={{ GOOGLE_RECAPTCHA_SITE_KEY }}></div>
        </div>

        <div class="mb-3">
          <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
