<!-- Author: Younghyun Cho <younghyun@berkeley.edu> -->

<!doctype html>

{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<link href="{% static 'css/form-validation.css' %}" rel="stylesheet">

<script>
  $(document).ready(function () {
    $('#nav-item-repo').addClass('active');
  });

  function UpdateUploadOptionFile() {
    document.getElementById("file_upload_form_div").style.display = 'block';
    document.getElementById("text_upload_form_div").style.display = 'none';
  }

  function UpdateUploadOptionText() {
    document.getElementById("file_upload_form_div").style.display = 'none';
    document.getElementById("text_upload_form_div").style.display = 'block';
  }

  function UploadPublic() {
    document.getElementById('group_invites_div').style.display = 'none';
  }

  function UploadPrivate() {
    document.getElementById('group_invites_div').style.display = 'none';
  }

  function UploadGroup() {
    document.getElementById('group_invites_div').style.display = 'block';
  }

  function AddEmailInvites() {
    var div = document.getElementById('group_invites_div');

    var email_invite = document.createElement('input');
    email_invite.type = 'email';
    email_invite.classList.add('form-control');
    email_invite.setAttribute('name', 'group_invites');

    div.appendChild(email_invite);
  }
</script>

<div class="container" style="max-width: 560px">
  <div class="py-5 text-center">
    <h1>Upload Performance Data</h1>
  </div>

  <div class="container">
    <form method="POST" action="{% url 'repo:upload' %}" enctype="multipart/form-data" class="needs-validation" novalidate>
      {% csrf_token %}
      <div class="mb-3">
        <div class="mb-3">
          <label for="applicationVal"><b>Tuning Problem</b></label>
          <select class="custom-select d-block w-100" name="application" id="applicationVal">
            <option value="" label="Choose..." selected></option>
            {% if applications_avail %}
            {% for application_avail in applications_avail %}
            <option value="{{ application_avail.name }}">{{ application_avail.name }} ({{ application_avail.library }})</option>
            </li>
            {% endfor %}
            {% else %}
            {% endif %}
          </select>

          <div class="d-block text-right mt-3">
              <label>Can't find your tuning problem?</label><br>
              <a href="{% url 'repo:add-tuning-problem' %}">Add a tuning problem</a>
          </div>
        </div>

        <div class="mb-3">
          <label for="machineVal"><b>Machine</b></label>
          <select class="custom-select d-block w-100" name="machine" id="machineVal">
            <option value="" label="Choose..." selected></option>
            {% if machines_avail %}
            {% for machine_avail in machines_avail %}
            <option value="{{ machine_avail.name }}">{{ machine_avail.name }} ({{ machine_avail.library }})</option>
            </li>
            {% endfor %}
            {% else %}
            {% endif %}
          </select>

          <div class="d-block text-right mt-3">
              <label>Can't find your machine?</label><br>
              <a href="{% url 'repo:add-machine' %}">Add machine information</a>
          </div>
        </div>

        <div class="d-block my-3">
          <label><b>Upload type</b></label>
          <div class="custom-control custom-radio">
            <input class="custom-control-input" id="file_upload" name="upload_type" type="radio" value="file_upload" checked  onChange="UpdateUploadOptionFile();" required>
            <label class="custom-control-label" for="file_upload">JSON file</label>
          </div>
          <div class="custom-control custom-radio">
            <input class="custom-control-input" id="json_upload" name="upload_type" type="radio" value="json_upload" onChange="UpdateUploadOptionText();" required>
            <label class="custom-control-label" for="json_upload">JSON text</label>
          </div>
        </div>

        <div class="form-group" id="file_upload_form_div" style="display: block;">
          <label for="file_upload_form">JSON file upload</label>
          <input type="file" class="form-control-file" id="file_upload_form" name="file_upload_form">
        </div>

        <div class="form-group" id="text_upload_form_div" style="display: none;">
          <label for="text_upload_form">JSON text upload</label>
          <textarea class="form-control" id="text_upload_form" name="text_upload_form" rows="20"></textarea>
        </div>

        <div class="d-block my-3">
          <label><b>Make it public?</b></label>
          <div class="custom-control custom-radio">
            <input id="public" name="accessibility" value="public" type="radio" class="custom-control-input" onClick="UploadPublic();" checked required>
            <label class="custom-control-label" for="public">Yes. I want to make this data public</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="private" name="accessibility" value="private" type="radio" class="custom-control-input" onClick="UploadPrivate();" required>
            <label class="custom-control-label" for="private">Not now. I want to keep this data private for now</label>
          </div>
          <div class="custom-control custom-radio">
            <input id="group" name="accessibility" value="group" type="radio" class="custom-control-input" onClick="UploadGroup();" required>
            <label class="custom-control-label" for="group">I want to share this data with specific users</label>
          </div>
        </div>

        <div id="group_invites_div" style="display: none;">
          <label for="group_invites"><b>List of emails/groupnames who can access this data (comma separated)</b></label>
          <textarea class="form-control" id="group_invites" name="group_invites" rows="5"></textarea>
        </div>

        <div class="mb-3">
          <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
