<!-- Author: Younghyun Cho <younghyun@berkeley.edu> -->

<!doctype html>

{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<div class="container text-center" style="padding-top: 50px; max-width: 800px">
  <h2>Enter Passcode to Active Your Account</h1>
  <br>
  <form method="POST" action="{% url 'account:activate' username=username %}">
    {% csrf_token %}
    <p>
    <input name="activation_code" type="number" maxlength=10>
    </p>
    <p>
    <button class="btn btn-lg btn-primary btn-block" style="width:200px; display: block; margin:0 auto;" type="submit">Submit</button>
    </p>
  </form>
</div>

{% endblock %}

