<!-- Author: Younghyun Cho <younghyun@berkeley.edu> -->

<!doctype html>

{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<div class="container">

    <div class="py-5 text-center">
        <h2>Token Has Been Generated</h2>
    </div>
    <div>
        <p class="lead" style="text-align: center;">
        Generated access token: {{ access_token }}
        <br>
        <br>
        When uploading data with this token, the following information will be displayed to users who have an access to the data.
        <br>
        User name: {{ user_name }}
        <br>
        User email: {{ user_email }}
        <br>
        User affiliation: {{ user_affiliation }}
        <br>
        Data accessibility: {{ accessibility.type }}
        </p>
    </div>

{% endblock %}

