<!-- Author: Younghyun Cho <younghyun@berkeley.edu> -->

<!doctype html>

{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<script>
</script>

<div class="container" style="max-width: 560px">
  <div class="py-5 text-center">
    <h1>My Performance Data</h1>
  </div>

  <div class="container">
    <div class="mb-3">
      <label for="applicationVal">Application</label>
      <select class="custom-select d-block w-100" name="application" id="applicationVal" onChange="LoadGroupUpdateForm();">
        <option value="" label="Search..." selected></option>
      </select>
    </div>
  </div>
</div>

{% endblock %}
