<!-- Author: Younghyun Cho <younghyun@berkeley.edu> -->

<!doctype html>

{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<link href="{% static 'css/signin.css' %}" rel="stylesheet">

<script>
  $(document).ready(function () {
    $('#nav-item-login').addClass('active');
  });
</script>

<div class="container" style="max-width: 560px">
  <form method="POST" action="{% url 'account:login' %}" class="form-signin">
    {% csrf_token %}

    <br><br>
    <div class="py-5 text-center">
      <h1>Log In</h1>
    </div>
    <div class="mb-3">
      <label for="username" class="sr-only">Username</label>
      <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
    </div>

    <div class="mb-3">
      <label for="password" class="sr-only">Password</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
    </div>

    <br>

    <button class="btn btn-lg btn-primary btn-block" style="display: block; width:500px; margin: 0 auto;" type="submit">Sign in</button>
  </form>

  <br>
  <a href="{% url 'account:signup' %}">
    <button class="btn btn-primary btn-lg btn-block" style="display: block; width:500px; margin: 0 auto;">Sign Up</button>
  </a>

  <br>

</div>

{% endblock %}
