<!-- Author: Younghyun Cho <younghyun@berkeley.edu> -->

<!doctype html>

{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<script>
  $(document).ready(function () {
    $('#nav-item-login').addClass('active');
  });
</script>

<div class="container text-center" style="padding-top: 50px; max-width: 300px">
  <form method="POST" action="{% url 'account:login' %}" class="form-signin">
    {% csrf_token %}
    <h1>Log In</h1><br>

    <p>
    <label for="username" class="sr-only">Username</label>
    <input type="text" id="username" name="username" class="form-control" placeholder="Username" required autofocus>
    <p>

    <p>
    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
    <p>
    <p>
    <button class="btn btn-lg btn-primary btn-block" style="width:250px; display: block; margin:0 auto;" type="submit">Sign in</button>
    </p>
  </form>

  <p><a href="{% url 'account:signup' %}"><button class="btn btn-primary btn-lg btn-block" style="width:250px; display: block; margin: 0 auto;">Sign Up</button></a></p>
</div>

{% endblock %}
