<!-- Author: Younghyun Cho <younghyun@berkeley.edu> -->
<!-- Based on Bootstrap checkout form -->

<!doctype html>

{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<link href="{% static 'css/form-validation.css' %}" rel="stylesheet">

<script>
  $(document).ready(function () {
    $('#nav-item-login').addClass('active');
  });
</script>

<div class="container" style="max-width: 560px">
  <div class="py-5 text-center">
    <h2>Reset password (user: {{ username }}) </h2>
    <p class="lead">
  </div>
  <div class="container">
    <form method="POST" action="{% url 'account:reset-password' %}" class="needs-validation" novalidate>
      {% csrf_token %}
      <div class="mb-3">
        <label for="current_password">Current Password <span class="text-muted"></span></label>
        <input id="current_password" name="current_password" type="password" class="form-control" required>
      </div>

      <div class="mb-3">
        <label for="new_password1">New Password <span class="text-muted"></span></label>
        <input id="new_password1" name="new_password1" type="password" class="form-control" required>
      </div>

      <div class="mb-3">
        <label for="new_password2">Confirm New Password <span class="text-muted"></span></label>
        <input id="new_password2" name="new_password2" type="password" class="form-control" required>
      </div>

      <div class="d-block my-3">
          <script src='https://www.google.com/recaptcha/api.js'></script>
          <div class="g-recaptcha" data-sitekey={{ GOOGLE_RECAPTCHA_SITE_KEY }}></div>
      </div>
      <br>
      <button class="btn btn-primary btn-lg btn-block" type="submit">Update</button>
    </form>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'js/form-validation.js' %}"></script>

{% endblock %}
