<!-- Author: Younghyun Cho <younghyun@berkeley.edu> -->

<!doctype html>

{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<script>
  $(document).ready(function () {
    $('#nav-item-login').addClass('active');
  });
</script>

<div class="starter-template">
<div class="container">
  <h1>Sign up</h1><br>

  <form method="POST" action="{% url 'account:signup' %}">
    {% csrf_token %}
    Username:
    <br>
    <input name="username" type="text">
    <br>
    Email:
    <br>
    <input name="email" type="email">
    <br>
    Password:
    <br>
    <input name="password1" type="password">
    <br>
    Confirm Password:
    <br>
    <input name="password2" type="password">
    <br><br>
    <input type="submit" class="btn btn-primary" value="Sign Up">
  </form>
</div>
</div>

{% endblock %}
